<html lang='en'>
<head>
  <title>Nyaplot</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
  <script>if(window['d3'] === undefined ||
   window['Nyaplot'] === undefined){
    var path = {"d3":"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min","downloadable":"https://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable"};



    var shim = {"d3":{"exports":"d3"},"downloadable":{"exports":"downloadable"}};

    require.config({paths: path, shim:shim});


require(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');

	var script = d3.select("head")
	    .append("script")
	    .attr("src", "https://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js")
	    .attr("async", true);

	script[0][0].onload = script[0][0].onreadystatechange = function(){


	    var event = document.createEvent("HTMLEvents");
	    event.initEvent("load_nyaplot",false,false);
	    window.dispatchEvent(event);
	    console.log('Finished loading Nyaplotjs');

	};


});});
}
</script>
</head>
<body><div id='vis-66ba134a-1b66-449b-8b79-a27d989aa346'></div>
<script>
(function(){
    var render = function(){
        var model = {"panes":[{"diagrams":[{"type":"bar","options":{"x":"data0","y":"data1"},"data":"70a74ed2-efaa-4964-b218-d61594436cd1"}],"options":{"x_label":"Name","y_label":"Lines of code","width":700,"xrange":["lokeshh","alexej","victor"],"yrange":[0,4000]}}],"data":{"70a74ed2-efaa-4964-b218-d61594436cd1":[{"data0":"lokeshh","data1":1000},{"data0":"alexej","data1":4000},{"data0":"victor","data1":2000}]},"extension":[]}
        var id_name = '#vis-66ba134a-1b66-449b-8b79-a27d989aa346';
        Nyaplot.core.parse(model, id_name);

        require(['downloadable'], function(downloadable){
          var svg = d3.select(id_name).select("svg");
	  if(!svg.empty())
	    svg.call(downloadable().filename('fig'));
	});
    };
    if(window['Nyaplot']==undefined){
        window.addEventListener('load_nyaplot', render, false);
	return;
    } else {
       render();
    }
})();
</script>
</body>
</html>
