<!DOCTYPE html>
<html>
<head>
  <title>DaruRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
  <script>if(window['d3'] === undefined ||
   window['Nyaplot'] === undefined){
    var path = {"d3":"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min","downloadable":"https://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable"};



    var shim = {"d3":{"exports":"d3"},"downloadable":{"exports":"downloadable"}};

    require.config({paths: path, shim:shim});


  require(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');

  	var script = d3.select("head")
	    .append("script")
	    .attr("src", "https://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js")
	    .attr("async", true);

	  script[0][0].onload = script[0][0].onreadystatechange = function(){


	    var event = document.createEvent("HTMLEvents");
	    event.initEvent("load_nyaplot",false,false);
	    window.dispatchEvent(event);
	    console.log('Finished loading Nyaplotjs');

	};


  });});
  }
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
